*.o
_*
*.d
*.sym
*.out
bootblock.asm
bootblock
bootother
bootother.asm
cat.asm
echo.asm
forktest.asm
fs.img
grep.asm
init.asm
initcode
initcode.asm
kernel
kernel.asm
kill.asm
ln.asm
ls.asm
mkdir.asm
mkfs
rm.asm
sh.asm
stressfs.asm
usertests.asm
vectors.S
wc.asm
xv6.img
zombie.asm
.gdbinit.tmpl
